---
---
// $primary: #76ACCD;
$primary: #369;
$link: #06D;
$text: #666;
$body-size: 18px;

// Import Main CSS file from theme
@import "main";

html {
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  scroll-behavior: smooth;
  scroll-padding-block: 5rem;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #258;
  text-shadow: 1px 1px 2px #6b590020;
}

.navbar-brand .logo {
  text-shadow: 0 0 1px;
}

.navbar-brand .logo img {
  max-width: 2rem;
  max-height: 2rem;
  margin-right: 0.5rem;
}

b, strong {
  font-weight: 900 !important;
  text-shadow: 0 0 1px;
}